@import "tailwindcss";

@theme {
  --font-cabinet: 'Cabinet Grotesk', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

:root {
  font-family: 'Inter', system-ui, 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
}